# WandB logging configuration
logging:
  project: falcon_examples
  group: 01_minimal
  dir: ${hydra:run.dir}

# Directory configuration
paths:
  import: "./src"
  buffer: ${hydra:run.dir}/sim_dir
  graph: ${hydra:run.dir}/graph_dir

# Training buffer parameters
buffer:
  min_training_samples: 4096
  max_training_samples: 32768
  validation_window_size: 256
  resample_batch_size: 128
  keep_resampling: true
  resample_interval: 10

# Graph definition using declarative YAML
graph:
  z:
    evidence: [x]

    simulator:
      _target_: falcon.contrib.HypercubeMappingPrior
      priors:
        - ['uniform', -100.0, 100.0]
        - ['uniform', -100.0, 100.0]
        - ['uniform', -100.0, 100.0]

    estimator:
      _target_: falcon.contrib.SNPE_A

      net_type: nsf  # zuko_gf, maf, nice, sospf, naf, gf
      theta_norm: true
      norm_momentum: 0.003

      embedding:
         _target_: model.E
         _input_: [x]

      num_epochs: 300
      batch_size: 128
      lr: 0.01
      scheduler_patience: 16
      lr_decay_factor: 0.5
      early_stop_patience: 32

      gamma: 0.5
      discard_samples: false
      log_ratio_threshold: -20

    ray:
      num_gpus: 0

  x:
    parents: [z]
    simulator:
      _target_: model.Simulate
      npar: 3
    observed: "./data/obs_3.npy"  

sample:
  posterior:
    n: 1000
    path: samples_posterior.joblib