# WandB logging configuration
logging:
  project: falcon_examples
  group: 03_composite
  dir: ${hydra:run.dir}

# Directory configuration
paths:
  import: "./src"
  buffer: ${hydra:run.dir}/sim_dir
  graph: ${hydra:run.dir}/graph_dir

# Training buffer parameters
buffer:
  min_training_samples: 3200
  max_training_samples: 6400
  validation_window_size: 128
  resample_batch_size: 128
  keep_resampling: true
  resample_interval: 10
  dump:
    enabled: true
    path: buffer_dump/sample_{step}.joblib

# Graph definition using declarative YAML
graph:
  z:
    evidence: [x]
    scaffolds: [y, n]
    simulator: 
      _target_: falcon.contrib.HypercubeMappingPrior
      priors: 
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
    estimator:
      _target_: falcon.contrib.SNPE_A
      embedding:
        _target_: embeddings.StreamingPCA
        log_prefix: "embedding"
        num_bins: 10000
        num_pars: 32
        _input_: [x, y, n]
      net_type: zuko_gf # nsf, zuko_gf, maf, nice, sospf, naf, gf
      theta_norm: true

      num_epochs: 300
      batch_size: 128
      lr: 0.001
      scheduler_patience: 16
      lr_decay_factor: 0.5
      early_stop_patience: 32

      gamma: 0.5
      discard_samples: false
      log_ratio_threshold: -20

      sample_reference_posterior: false
      use_best_models_during_inference: true
      reset_network_after_pause: false
    ray:
      num_gpus: 0.0

  y:
    parents: [z]
    simulator:
      _target_: model.Signal

  n:
    parents: []
    simulator:
      _target_: model.Noise

  x:
    parents: [y, n]
    simulator:
      _target_: model.Data
    observed: "./data/obs_v1.npy"

sample:
  prior:
    n: 1000
    path: samples_prior.joblib
  proposal:
    n: 1000
    path: samples_proposal.joblib
  posterior:
    n: 1000
    path: samples_posterior.joblib
