# WandB logging configuration
logging:
  project: falcon_examples
  group: 03_composite_A1
  dir: ${hydra:run.dir}

# Directory configuration
paths:
  import: "./src"
  buffer: ${hydra:run.dir}/sim_dir
  graph: ${hydra:run.dir}/graph_dir

# Training buffer parameters
buffer:
  min_training_samples: 3200
  max_training_samples: 32000
  validation_window_size: 256
  resample_batch_size: 256
  keep_resampling: false
  resample_interval: 5

# Graph definition using declarative YAML
graph:
  z1:
    evidence: [x]
    simulator: 
      _target_: falcon.contrib.HypercubeMappingPrior
      priors: 
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
    estimator:
      _target_: falcon.contrib.SNPE_A
      embedding:
         _target_: model.E
         _input_: [x]
    ray:
      num_gpus: 0.5

  z2:
    evidence: [x]
    simulator: 
      _target_: falcon.contrib.HypercubeMappingPrior
      priors: 
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
        - ['uniform', -1.0, 1.0]
    estimator:
      _target_: falcon.contrib.SNPE_A
      embedding:
         _target_: model.E
         _input_: [x]
    ray:
      num_gpus: 0.5

  img1:
    parents: [z1]
    simulator: model.DrawFalconLetters

  img2:
    parents: [z2]
    simulator: model.DrawSnake

  x:
    parents: [img1, img2]
    simulator: model.SimulateData
    observed: "./data/x_obs.npy"

sample:
  prior:
    n: 1000
    path: samples_prior.joblib
  proposal:
    n: 1000
    path: samples_proposal.joblib
  posterior:
    n: 1000
    path: samples_posterior.joblib
